.task_item_wrap{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:10px;
    padding: 15px 0;
    .info{
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 11px;
        overflow: scroll;
        scrollbar-width: none;
        .info_img_wrap{
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            .info_img{
                width: 30px;
                height: 30px;
                object-fit: contain;
            }
            .info_img.fire{
                width: 35px;
                height: 35px;
            }
        }
        .item_title_wrap{
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 3px;
            color: #fff;
            .item_title{
                font-size: 18px ;
                line-height: 135%;
                font-weight: 800;
            }
            .item_subtitle{
                font-size: 16px ;
                line-height: 135%;
                font-weight: 400;
            }
        }
    }
    .status_btn{
        color: #000;
        background-color: #fff;
        font-size: 14px;
        font-weight: 600;
        padding:  12px 14px ;
        border-radius: 50px ;
        &.success{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #303030;
            padding:  6px 19px ;
        }
        &.completed{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #4fadab;
            padding:  8px 19px ;
        }
        &.disable{
        background-color: #303030;
        }
        .success_img{
            width:22px;
            height: 22px;
        }
    }
    .status_btn_wrap{
        position: relative;
        .status_btn_anim{
            position: absolute;
            width:150%;
            bottom:0px;
            left:50%;
            translate: -50% 0;
            z-index: -1;
            opacity:0;
            transition: .3s;
            &.active{
                z-index: 10;
                opacity:1;
                transition: .3s;
            }
        }
    }
}