.swiper{
    width:100% ;
    height: 100% ;
}
.history_wrap{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    overflow: hidden;
}
.history_slide_wrap{
    position: absolute;
    bottom:0;
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    
}
.history_slide{
    width:100%;
    object-fit:contain;
}
.swiper_btn{
    content: '';
    position: absolute;
    top:0;
    height:100%;
    width:50%;
    z-index:11;
    background: transparent;
    -webkit-tap-highlight-color: transparent; 

    &.prev{
        left:0;
    }
    &.next{
        right:0;
    }
}
.cross_wrap{
    opacity: 0;
    position: absolute;
    top:8px;
    right:8px;
    padding:3px;
    border-radius: 5px;
    border:2px solid #ffffff;
    z-index: 11;
    transform: translateY(-24px);
    &.active{
        transform: translateY(0);
        opacity:1;
        transition:  1.5s ease;

    }
    .cross {  
        position: relative;  
        width: 16px;
        height: 16px;
    
        span {  
            position: absolute;  
            background:#ffffff;   
        }  
    
        .line1 {  
            width: 100%;  
            height: 2px; 
            top: 50%; 
            transform: translateY(-50%) rotate(45deg); 
            border-radius: 2px;
        }  
    
        .line2 {  
            width: 100%;
            height: 2px;
            top: 50%; 
            border-radius: 2px;
            transform: translateY(-50%) rotate(-45deg); 
        }  
    }
}