  .wrapper{
    width: 100%;
    padding-top: 4px;
    background:linear-gradient(to top,#000000,rgb(45 45 45));
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 10;
    .inner_wrapper{
        width: 100%;
        margin: 0 auto;
        padding: 26px 0 30px ;
        position: relative;
        background-color:#000000;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        .navigation{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            position: relative;
            bottom: 3px;
            .nav_item{
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 25px;
                    height: 25px;
                    object-fit: contain;
                }
            }
        }
        .line_wrap{
            width:100%;
            padding: 8px 0;
            position: absolute;
            bottom: 0;
            
        }
        
    }
}
 
