.daily_reward_wrap{
    display: flex;
    flex-direction: column;
    position: relative;
    .reward_title{
        color:#fff;
        font-size:22px ;
        font-weight:800;
        text-align: center;
        margin-bottom: 214px;
    }
    .box_slider{
        position: absolute;
        top:62px;
        left: 4px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap:4px;
        width: 100%;
        overflow: scroll;
        scrollbar-width: none;
        padding-left: 17px;
    }
    .rewar_subtitle{
        color:#fff;
        font-size:14px ;
        font-weight:700;
        line-height: 135%;
        text-align: center; 
    }
    .reward_timer{
        padding: 11px 17px 0;
        width: 100%;
    }
    .claim_btn{
        width: calc(100% - 34px);
        margin: 14px 17px 20px;
        position: relative;
        .reward_fireCracker{
            position: absolute;
            left:50%;
            translate: -50% 0;
            bottom: 6px;
            width:120%;
            height: 220px;
            display: flex;
            align-items: flex-end ;
            justify-content: center;
            z-index:-1;
            opacity:0;
            transition: .3s;
            &.active{
                opacity:1;
                transition: .3s;
                z-index: 14;
            }
        }
    }
}