.taimer_btn_wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    background-color: #ffffff40;
    border-radius: 50px;
    font-size: 17px;
    font-weight: 500;
    overflow: hidden;
    z-index: 12;
        .taimer_btn_txt {
            margin-left: 13%;
            position: relative;
            @media screen and (max-width: 397px) {
                margin-left:8%;
            }
            @media screen and (max-width: 365px) {
                margin-left: 6%;
            }
            p{
                font-family: 'Helvetica';
                color: #000;
                font-size: 20px;
                font-weight: 500;
                text-align: center;
            }
            .taimer_bnt_counter{
                height: 100%;
                position: absolute;
                top:50%;
                translate: 0 -50%;
                left:105px;
                @media screen and (max-width: 380px) {
                    left:90px;
                }
            }
        }
        .taimer_btn {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            gap: 20px;
            @media screen and (max-width:350px) {
                gap: 20px;
            }
        }
    }