
@keyframes fadeIn {  
    from {  
      opacity: 0;  
      transform: translateY(20px); /* Двигаем элемент вниз для эффекта */  
    }  
    to {  
      opacity: 1;  
      transform: translateY(0);  
    }  
  }
@keyframes fadeOut {  
    from {  
      opacity: 1;  
      transform: translateY(0px); /* Двигаем элемент вниз для эффекта */  
    }  
    to {  
      opacity: 0;  
      transform: translateY(20px);  
    }  
  }

.wrap{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-size: 100% 100%;
    background-color: #000;
    .child_wrap{
        order: 1;
        flex:1;  
    }
    .footer_wrap{
        order: 2;
        z-index: 5;
    } 
}

.history_elem{
    animation: fadeIn 0.5s ease;
    position: absolute;
    top:0;
    left:0;
    height: 100vh;
    width: 100%;
    z-index: 120;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
     &.fade-in {  
    animation: fadeIn 0.5s ease forwards; // Анимация появления  
  }  

  &.fade-out {  
    animation: fadeOut 0.5s ease forwards; // Анимация исчезновения  
  } 
}

