.wrap{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-size: 100% 100%;
    .child_wrap{
        order: 1;
        flex:1;  
    }
    .footer_wrap{
        order: 2;
    } 
}


.invite_fren_pop_up{
    transform: rotateX(90deg);
    transform-origin: 0% 100%;
    transition: .3s;
    width: 100%;
    position: sticky;
    bottom:0px;
    z-index: 10;
    &.active{
        transform: rotateX(0);
        transition: .3s;
    }
}