
.wrap{
    width: 100%;
    .inner_wrap{
        max-width: 750px;
        width: 100%;
        margin:  0 auto;
        border: 1px solid red; 
        .footer_wrap{
            position: sticky;
            bottom: 0;
        }
    }
}