.claim_home_btn{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2px;
  p{
    display: flex;
    gap:9px;
    span{
      font-family: "SFProText";
      font-size: 19px;
      font-weight:800;
      &:last-child{
        font-weight: 700;
      }
    }
  }
  img{
    width:20px;
    height:20px;
  }
}