@import "./Font.scss";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 0;
    font-size: 16px;
    touch-action: manipulation;
    font-family: 'SFProText';
}
body{
    overflow: hidden;
    user-select: none; 
    -webkit-user-select: none;   
    -moz-user-select: none; 
    -ms-user-select: none; 
}
