.frens_wrap{
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    .title_wrap{
        width: 100%;
        margin-top: 20px;
        .title{
            color: #fff;
            font-size:28px;
            font-weight:800;
            line-height: 135%;
            text-align: center;
        }
    }
    .frens_coins_wrap{
        margin: 9px 15px 15px 15px;
        padding: 18px 0;
        align-items: center;
        border-radius:20px ;
        background-color: rgba(0, 0, 0, 0.56);
        @media screen and (max-height: 690px) {
            padding: 5px 0;    
        }
        .frens_coins_wrap{
            display: flex;
            flex-direction: column;
            gap: 9px;
            background: transparent;
            .frens_coins_value{
                color:#fff;
                font-size:28px ;
                font-weight:800;
                text-align: center;
            }
            .frens_coin_claim_btn{
                padding: 11px 15px;
                border-radius: 200px;
                color: #000;
                background-color: #9B9B9B;
                font-size:14px ;
                font-weight: 600;
                &.active{
                background-color: #fff;
                }
                &.disable{
                    background-color: #303030;
                 }
            }
        }
    }
    .subtitle_wrap{
        width: 100%;
        .subtitle{
            color: #fff;
            font-size:15px ;
            font-weight: 600;
            line-height: 135%;
            text-align: center;
        }
    }
    .frens_amount{
        color: #fff;
        font-size:20px ;
        font-weight: 800;
        line-height: 135%;
        text-align: start;
        margin: 37px 10px 0;
        @media screen and (max-height: 690px) {
            margin-top: 15px;    
        }
    }

    .frens_list{
        flex: 1;
        max-height: calc(100vh - 373px);
        margin: 16px 10px 0;
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.67);
        border-top-left-radius: 20px ;
        border-top-right-radius: 20px ;
        overflow: scroll;
        scrollbar-width: none;
    }
    .invite_frens_btn{
        width: 100%;
        padding: 0 17px;
        position: absolute;
        bottom: 14px;
        left: 0;
        z-index: 5;
    }
}
.daily_reward{
    transform: rotateX(0);//
    transform-origin: 0% 100%;
    transition: 0.3s;
    width: 100%;
    position: sticky;
    bottom:0px;
    z-index: 10;
    &.active{
        transform: rotateX(0);
        transition: .3s;
    }
}