.counter_wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;

  .counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &.new{
      position: absolute;
      top:100%;
      opacity: 0;
    }
    &.up{
      top:0;
      opacity: 1;
      transition: .5s;
    }
    .counter_part {
      display: flex;
      flex-direction: row;
      height: 100%;

      .digit {
        font-family: 'Helvetica';
        color: #000;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        opacity: 1;
        transition: .5s;
        &.unVis{
          opacity: 0;
        }
        &.prev {
          position: absolute;
          bottom: 120%;
        }
      }
    }

    .dot {
      font-family: 'Helvetica';
      color: #000;
      font-size: 20px;
      font-weight: 500;
      &.unVis{
        opacity: 0;
      }
    }

  }
    img {
      position: absolute;
      top: 50%;
      left: 113%;
      translate: 0 -50%;
      width: 20px;
      height: 20px;
    }
}

@keyframes slideUp {
  0% {
    top:100%;
    opacity: 0;
  }
  100% {
    top:0;
    opacity: 1;
  }
}

