.task_wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    @media screen and (max-height: 600px){
    }
    .title_wrap{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        color: #fff;
        margin: 94px 0 53px ;
        padding: 0 18px;
        @media screen and (max-height: 680px){
            margin-top: 70px;
        }
        @media screen and (max-height: 650px){
            margin-top: 45px;
        }
        .title{
            font-size: 28px;
            font-weight: 800;
            line-height: 135%;
            color:#fff  ;
        }
        .subtitle{
            font-size: 15px ;
            font-weight: 400;
            line-height: 135%;
            text-align: center;
        }
    }
    .task_list{
        flex: 1 1 254px;
        display: flex ;
        flex-direction: column;
        gap: 20px;
        padding: 0 18px;
        margin: 0 15px 60px;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 15px; 
        overflow-y: scroll;
        scrollbar-width: none;
        @media screen and (max-height:640px) {
            // flex-shrink: 210px
        }
        @media screen and (max-height:680px) {
            // flex-shrink: 30px;
        }
    }
    .main_claim_btn{
        width: 100%;
        padding: 0 18px;
        margin-bottom: 10px;
        &.disable{
            display: none;
        }
        @media screen and (max-height:680px) {
            margin-top: 30px;
        };
    }
    .mini_tasks_wrap{
        transform: rotateX(90deg);
        transform-origin: 0% 100%;
        transition: 0.5s;
        width: 100%;
        position: sticky;
        bottom:0px;
        z-index: 10;
        &.active{
            transform: rotateX(0);
            transition: .5s;
        }
    }
}