.koin_quantity{
      display: flex;
      flex-direction: row;
      gap: 11px;
      align-items: center;
  &.small{
    gap:6px;
    .koin_quantity_img{
      width:20px;
      height:20px;
    }
  }
    .koin_quantity_value{
        color: #fff;
        font-family: 'Helvetica';
        font-size: 30px;
        font-weight: 700;
        position: relative;
    }
    .koin_quantity_img{
      width:35px;
      height: 35px;
      object-fit: cover;
    }
  }