.raiting_wrapper{
    display: flex;
    flex-direction: column;
    padding: 0 8px ;
    
    .raiting_title_wrap{
        width: 100%;
        align-items: center;
        margin: 32px 0 16px;
        .title{
            color: #fff;
            font-size:28px;
            font-weight:800;
            line-height: 135%;
            text-align: center;
        }
    }
    .raiting_list{
        flex: 1 1 400px;
        display: flex;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;
        border-radius: 30px;
        overflow-y: scroll;
        scrollbar-width: none;
        margin-bottom: 17px;
        @media screen and (max-height:690px){
        // max-height: 450px;
        }
        @media screen and (max-height:640px){
        // max-height: 410px;
        }
        @media screen and (max-height:600px){
        // max-height: 370px;
        }
    }
}