.reward_timer{
  width: max-content;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  position: relative;
  & > div{
    width: 63px;
    position: relative;
  }
  span{
    color:#fff;
    font-size:14px ;
    font-weight:600;
    line-height: 135%;
    text-align: center;

    &.anim_value{
      position: absolute;
      opacity: 0;
      top: 100%;
      &.active{
        top:0;
        opacity: 1;
        transition: .5s;
      }
      & > span{
        display: none;
        &.active{
          display: inline-block;
        }
      }
    }
    &.value{

    }
  }
}

