.not_found_btn{
    position: absolute;
    width:52%;
    bottom:15%;
    left:50%;
    translate: -50% 0;
    background: #fff;
    color:#0e181e;
    font-family: 'SFProText';
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    transition: .2s;
    border-radius: 10px;
    padding: 10px 0;
    &:hover{
        transform: scale(1.05);
        transition: .2s;
    }
}