.raiting_item_wrap{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 22px 15px 15px;
    border-bottom: 1px solid #fff;
    .raiting_info{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
        .place_number{
            color:#5E5E5E ;
            font-size: 18px;
            font-weight: 800;
            line-height: 135%;
            &.first{
                color:#FFCC48
            }
            &.second{
                color:#ACACAC
            }
            &.third{
                color:#9E5228
            }
        }
        .raiting_title_wrap{
            text-align: center;
            color: #fff;
            .raiting_title{
                font-size:18px;
                font-weight:800;
                line-height: 135%;
            }
            .raiting_subtitle{
                font-size:16px;
                font-weight:600;
                line-height: 135%;
            }
        }
    }
    .coin_quantity{
        color: #fff;
        font-size:14px;
        font-weight:600;
        line-height: 135%;
    }
}
.raiting_item_wrap:last-child{
    border: 0;
}
.raiting_item_wrap.active{
    background-color: #fff;
    position: sticky;
    bottom: 0;
    p, .coin_quantity{
         color:#000;
         font-weight: 600;
    }
    .raiting_title{
        font-weight: 800;
    }
}